* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.heading {
    text-align: center;
    font-size: 40px;
    padding: 32px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.books-list {
    width: 85%;
    margin: auto;
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 16px;
    justify-content: space-around;
}

.book {
    border: 1px solid #D3E4CD;
    padding: 24px;
    width: 30%;
    border-radius: 4px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, .15);
}

.book h2 {
    font-size: 20px;
    padding-bottom: 8px;
}

.book p {
    font-size: 16px;
    color: gray;
    padding-bottom: 2px;
}

.btn-group {
    margin-top: 8px;
    display: flex;
    gap: 12px;
}

.btn-group button {
    padding: 6px 12px;
    font-size: 16px;
    border: none;
    display: block;
    color: white;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
}

.delete {
    background-color: #CD1818;
}

.read-toggle {
    background-color: #2E4C6D;
}

.book-form input{
    display: inline-block;
    padding: 4px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 4px;
}

.book-form button {
    display: block;
    padding: 8px 0;
    width: 20%;
    margin: auto;
    margin-top: 12px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2E4C6D;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 4px;
}

.book-form {
    width: 80%;
    margin: auto;
    border: 1px solid #D3E4CD;
    padding: 40px;
    background-color: lightgray;
    border-radius: 4px;
    display: none;
}

.book-form h2 {
    text-align: center;
    font-size: 24px;
    padding-bottom: 18px;
}

.book-form p {
    display: inline-block;
}

.book-form p select {
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}

.new-book {
    display: inline-block;
    padding: 10px 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #2E4C6D;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 4px;
}

.show-form {
    display: block;
}